.login-content{
    margin-top: 60px;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.login-link{
    margin-left: 20px;
    text-decoration: none;
}
.login-btn{
    display: flex;  
    text-align: center;
    justify-content: center;  
    align-items: center;
}
.signin-btn{
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.g-btn{
    margin-right: 15px;
}
.or{
    
    margin-left: 15px;
}